@model NSE.WebApp.MVC.Models.ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um erro";
}

@{
    if (Model == null)
    {
        <div>
            <h2>Ops! Ocorreu um erro. Nosso time já está verificando!</h2>
        </div>
    }
    else
    {
        ViewData["Title"] = Model.Titulo;

        <div>
            <h2>@Html.Raw(Model.Mensagem)</h2>
        </div>
    }
}